/* COLORS: 
black: #323031
dark blue: #084c61
yellow: #fcca46
light blue: #30c5ff
white: #fdffff;

TYPEFACES:
font-family: 'Quicksand', sans-serif; 
font-family: 'Anton', sans-serif; */

.logo {
    width: 10%;
    margin-top: 1%;
}

nav {
    height: 100px;
    background-color: #084c61;
}

.nav-item  {
    padding-top: 20px;
    padding-left: 10px;
}

/* .nav-item-text {
    color: #fdffff;
} */


/* .hamburger {
    width: 200px !important;
}

.menu {
    padding-top: 1%;
    padding-left: 1%;
    width: 30px !important;
    height: 100px !important;
} */

.material-icons {
    font-size: 48px !important;
    margin-left: 10px;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    .nav-item  {
        visibility: hidden;
    }
    nav {
        height: 60px;
        background-color: #084c61;
    }
    .logo {
        margin-top: 3%;
    }
    .material-icons {
        padding-top: 3px;
    }
}

