/* COLORS: 
black: #323031
dark blue: #084c61
yellow: #fcca46
light blue: #30c5ff
white: #fdffff;

TYPEFACES:
font-family: 'Quicksand', sans-serif; 
font-family: 'Anton', sans-serif; */



.body-bg-sign-up {
    background: url("./images/signuppage.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:500px;
    padding-top: 1.5%;
}

.section2-signup {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #efefef;
    box-shadow: 5px 10px 50px #1f1f1f;
    padding: 5%;
    text-align: center;
}

h1 {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
    color: black;
}

h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3pt;
    font-size: 36pt;
    color: #fcca46;
}

.row {
    margin-bottom: 0px !important;
}