/* COLORS: 
black: #323031
dark blue: #084c61
yellow: #fcca46
light blue: #30c5ff
white: #fdffff;

TYPEFACES:
font-family: 'Quicksand', sans-serif; 
font-family: 'Anton', sans-serif; */

/* TYPOGRAPHY */
p {
    font-size: 10pt;
    letter-spacing: none;
}

h1 {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
}

h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3pt;
    font-size: 36pt;
    color: #fcca46;
}

.large-num {
    font-size: 48pt;
    text-align: center;
    color: #30c5ff;
    font-family: 'Anton', sans-serif;
}

.dash-panel-name {
    font-size: 12pt;
    padding: 10px !important;
}

/* MISC */

input {
    background-color: #30c5ff;
    padding: 5px;
}

.img-circle {
    border-radius: 50%;
    width: 25%;
}

.row-item {
    background-color: #ffffff;
    text-transform: capitalize;
    color: black;
    height: 75px;
    padding: 0px;
}



/* SECTIONS */

.header-dash {
    background: url("./images/dash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    text-align: center;
    color: white;
}

/* ADJUSTMENTS */

.side-padding {
    padding-left: 3%;
    padding-right:  3%;
    padding-top: 3%;
}

.add-margin {
    margin: 5%;
}