/* COLORS: 
black: #323031
dark blue: #084c61
yellow: #fcca46
light blue: #30c5ff
white: #fdffff;

TYPEFACES:
font-family: 'Quicksand', sans-serif; 
font-family: 'Anton', sans-serif; */

.collection-header {
    background-color: #084c61 !important;
    color: #fdffff !important; 
}

.expense-title {
    color:  #fdffff;
}

.expense-title-panel {
    background-color: #084c61;
    padding-top: 10px;
    padding-bottom: 10px;
}