/* COLORS: 
black: #323031
dark blue: #084c61
yellow: #fcca46
light blue: #30c5ff
white: #fdffff;

TYPEFACES:
font-family: 'Quicksand', sans-serif; 
font-family: 'Anton', sans-serif; */

.collection-header {
    background-color: #263238 !important;
}

h4 {
    font-size: 18pt;
    color: #fdffff;
    font-family: 'Open Sans', sans-serif;

}