/* TYPOGRAPHY */

p {
    font-family: 'Quicksand', sans-serif;
    line-height: 22pt;
    font-size: 16pt;
}

h1 {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
}

.header-text-home {
    letter-spacing: 2pt;
    font-size: 4vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fdffff;
    font-weight: 700;
}

.sub-header-text-home {
    text-transform: capitalize;
    letter-spacing: 1pt;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Quicksand', sans-serif;
    color: #fdffff;
}

.large-text {
    text-align: center;
    font-family: 'Voces';
    color: #084c61;
    font-size: 5vw;
    line-height: 50pt;
}

.large-text-white {
    text-align: center;
    color: #fdffff;
    font-size: 48pt;
    line-height: 50pt;
}

.large-num {
    font-size: 48pt;
    text-align: center;
    color: #30c5ff;
    font-family: 'Anton', sans-serif;
}

/* SECTIONS */

.homeheader-home {
    background: url("./images/home-01.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    padding: 5%;
}

.section2 {
    margin-top: 5%;
}

.section3-home {
    background-color: #f5f5f5;
    text-align: center;
    padding: 5%;
    margin-top: 5%;
    max-height: 450px;
}

.section4-home {
    margin-top: 5%;
    padding-top: 100px;
    padding-bottom: 2%;
}

.section5-home {
    background: url("./images/getstarted.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 475px;
    padding: 10%;
    text-align: center;
    color: white;
}

/* ADJUSTMENTS */

.pretty-button {
    width: 200px !important;
    background-color: transparent !important;
    text-align: center !important;
    text-transform: uppercase !important;
    border: 1px solid white !important;
}
