/* COLORS: 
black: #323031
dark blue: #084c61
yellow: #fcca46
light blue: #30c5ff
white: #fdffff;

TYPEFACES:
font-family: 'Quicksand', sans-serif; 
font-family: 'Anton', sans-serif; */

p {
    font-family: 'Quicksand', sans-serif;
    line-height: 22pt;
    font-size: 16pt;
  }

.homeheader {
    background: url("./images/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.header-text {
    text-transform: uppercase;
    letter-spacing: 5pt;
    font-size: 52pt;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #fdffff;
}

.sub-header-text {
    text-transform: capitalize;
    letter-spacing: 2pt;
    text-align: center;
    font-size: 24pt;
    font-family: 'Quicksand', sans-serif;
    color: #fdffff;

}

.section2 {
    margin-top: 5%;
}

.section4 {
    background-color: #f5f5f5;
    text-align:center;
    padding: 5%;
    margin-top: 5%;
    height: auto !important;

}

h1 {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2pt;
    font-size: 24pt;
}

h3 {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2pt;
    font-size: 22pt;
    color: #fcca46;
}

.large-num {
    font-size: 48pt;
    text-align: center;
    color: #30c5ff;
    font-family: 'Anton', sans-serif;
}

@media only screen and (max-width: 1024px) {
    .header-text {
        font-size: 30pt !important;
        text-shadow: 2px 2px 50px black;
        line-height: 1 !important;
    }

    .sub-header-text {
        text-shadow: 2px 2px 50px black;
        font-size: 16pt !important;
    }

    h1 {
        font-size: 20pt !important;
    }

    h2 {
        font-size: 20pt !important;
    }

    .logo {
        width: 20% !important;
    }
}

@media only screen and (max-width: 768) {
    /* For some reason this size isn't working */
    p {
        font-size: 12pt !important;
    }
}

@media only screen and (max-width: 375px) {
    .header-text {
        font-size: 15pt !important;
        line-height: 1.5 !important;
        text-shadow: 2px 2px 50px black;
    }
    .sub-header-text {
        font-size: 10pt !important;
        text-shadow: 2px 2px 50px black;
    }
    h1 {
        font-size: 14pt !important;
        line-height: 2; 
        letter-spacing: 0 !important;
        text-align: center;
    }
    h2 {
        font-size: 12pt !important;
        line-height: 2;
        letter-spacing: 2;
    }
    p {
        font-size: 11pt !important;
        line-height: 1.5 !important;
    }
    .large-num {
        font-size: 30pt !important;
    }
    h5 {
        font-size: 12pt !important;
    }
}

@media only screen and (max-width: 320) {
}

