.row-item {
    background-color: #eceff1;
    text-transform: capitalize;
    color: #263238;
    height: auto;

}

.row .col {
    width: 100%;
}

.dash-panel-name {
    font-size: 30px;
    padding-left: 45px;
}