/* COLORS: 
black: #323031
dark blue: #084c61
yellow: #fcca46
light blue: #30c5ff
white: #fdffff;

TYPEFACES:
font-family: 'Quicksand', sans-serif; 
font-family: 'Anton', sans-serif; */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

footer {
    background-color: #052e38 !important;
  }

  h5 {
    font-family: 'Quicksand', sans-serif; 
    color: white;
    font-weight: 400;
    font-size: 16pt;
    letter-spacing: 5pt;
    text-align: left;
    text-transform: uppercase;
  }

.designed-by {
  padding-left: 20px;
  font-size: 15px;
}

.copyright {
  padding-right: 20px;
  font-size: 15px;
}

.white-text {
  margin-bottom: -10px;
}

.icons {
  margin-bottom: -30px;
  padding-left: 18px;
}
