/* COLORS: 
black: #323031
dark blue: #084c61
yellow: #fcca46
light blue: #30c5ff
White: #fdffff; */

.buttons {
    background-color: #fcca46;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.submit-button {
    padding-left: 60px;
    padding-right: 60px;
}

.buttons:hover {
    background-color: #fcca46;
}

.buttons:focus {
    background-color: #fcca46;
}

.buttons-typeface {
    font-family: 'Quicksand', sans-serif; 
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}

.add-button {
    background-color: #30c5ff;
}

.add-new-button {
    background-color: #084c61;
    width: 100%;
    margin: 10px;
    height: 75px;
    padding-top: 20px;
}

.add-new-typeface {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}