/* TYPOGRAPHY */

/* h1 {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
} */

/* SECTIONS */

.body-bg-budget {
    background: linear-gradient(
        rgba(8,76,97, 0.45), 
        rgba(8,76,97, 0.45)
      ), url("./images/budget.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:500px;
}

/* Adjustments */

.no-padding {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.all-padding-budget {
    padding-top: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.white-text {
    color: white !important;
}

.padding-added {
    padding-bottom: 3%;
}

td, th {
    padding: 20px 15px 10px;
}